{% extends 'main/header.html' %}

{% block content %}

    <div class="row">
        {% for note, partone in part_ones.items %}

            <div class="col s12 m6 l4">
                <a href="/{{partone}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-image">
									  <img src="{{note.series_image}}">
									  <span class="card-title">{{note.note_series}}</span>	  
						</div>
                        <div class="card-content">
						<br>
                            <p>{{note.series_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}