{% extends 'main/header.html' %}
{% load static %}
{% block content %}

    <div class="row">
        {% for cat in categories %}
            <div class="col s12 m6 l4">
                <a href="/{{cat.category_slug}}", style="color:#000">
                    <div class="card hoverable">
						<div class="card-image">
									  <img src="static/main/images/{{cat.category_image}}.jpg" >
									  <span class="card-title">{{cat.note_category}}</span>	  
						</div>
                        <div class="card-content">
                            <p>{{cat.category_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
  <script>

function urlB64ToUnit8Array(base64String) {
    const padding = '='.repeat((4 - base64String.length % 4) % 4);
    const base64 = (base64String + padding)
        .replace(/\-/g, '+')
        .replace(/_/g, '/');

    const rawData = window.atob(base64);
    const outputArray = new Uint8Array(rawData.length);
    const outputData = outputArray.map((output, index) => rawData.charCodeAt(index));

    return outputData;
}


const registerSw = async () => {
    if ('serviceWorker' in navigator) {
        const reg = await navigator.serviceWorker.register('sw.js');
        initialiseState(reg)

    } 
};


const initialiseState = (reg) => {
    if (!reg.showNotification) {
        return
    }
    if (Notification.permission === 'denied') {
        return
    }
    if (!'PushManager' in window) {
        return
    }
    subscribe(reg);
}

const subscribe = async (reg) => {
    const subscription = await reg.pushManager.getSubscription();
    if (subscription) {
        sendSubData(subscription);
        return;
    }

   const key = "BG9mp7rgU7s90iHGOq0eC99cJG6g3Ii4t8ev23rWUVPEjNVYAYpc-rK9qoCXrHcF-EGr5_zyGZDYzsdodRDhVTM";
    var options
    if(key){
        options = {
        userVisibleOnly: true,
        applicationServerKey: urlB64ToUnit8Array(key)
    }
	}
    else{
		options = {
			userVisibleOnly:true
		}
	}
	
    const sub = await reg.pushManager.subscribe(options);
    sendSubData(sub)
};

const sendSubData = async (subscription) => {
    const browser = navigator.userAgent.match(/(firefox|msie|chrome|safari|trident)/ig)[0].toLowerCase();
    const data = {
        status_type: 'subscribe',
        subscription: subscription.toJSON(),
        browser: browser,
    };

    const res = await fetch('/webpush/save_information', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'content-type': 'application/json'
        },
        credentials: "include"
    });

    handleResponse(res);
};

const handleResponse = (res) => {
    console.log(res.status);
};

registerSw();
	
	</script>
{% endblock %}